**/.git
**/.github
**/.vscode
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.angular
**/coverage
**/dist
**/node_modules
**/.npm-cache
**/.venv
**/.coverage
**/.env
**/tls/*.key
**/tls/*.pem
charts
swagger
